.container {
  min-height: 100dvh;
  max-width: 800px;
  padding: 10px 20px;
  margin: 0 auto;
  border-inline: 1px solid #000;
  font: 22px;
  font-style: bold;
}
head {
  scroll-behavior: smooth;
}
h1 {
  margin: 0;
}
